@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", serif;
}

/* Global  */

.flex {
  display: flex;
}

.orange {
  color: orange;
}

.sky-blue {
  color: #01acfd;
}

.purple {
  color: #5d58ef;
}

.light-sky {
  color: #05d4df;
}

.flex-column {
  flex-direction: column;
}

.btn {
  padding: 12px 60px;
  border-radius: 12px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s color ease;
  transition: 0.3s background-color ease;
  cursor: pointer;
}

/* Header */

header {
  max-width: 1200px;
  margin: 0 auto;
}

main {
  background-image: url(../assets/bg1.jpg);
  /* margin: 0 auto; */
}

/* navbar */

.navbar {
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.nav-logo {
  align-items: center;
  gap: 10px;
}

.ul-items {
  gap: 2rem;
}

.li-items {
  list-style: none;
}

.li-items .links {
  font-weight: 500;
  text-decoration: none;
  line-height: 30px;
  font-size: 20px;
}

.nav-btn {
  background-color: orange;
  border: 1px solid orange;
}

.nav-btn:hover {
  background-color: white;
  color: orange;
}

/* Banner Part */

.banner {
  justify-content: space-between;
  align-items: center;
}

.banner-text-content {
  max-width: 640px;
}

.banner-h1 {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 61px;
  margin-bottom: 1.5rem;
}

.banner-p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.banner-img-content img {
  width: 100%;
}

.banner-btn {
  background-color: black;
  border: 1px solid black;
}

.banner-btn:hover {
  background-color: white;
  color: black;
}

marquee {
  margin-top: 15px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  background-color: #048cca;
  /* background-color: #5996b3; */
}

.hamburger {
  display: none;
}

/* Curriculum */
.curriculum {
  max-width: 1200px;
  margin: 0 auto;
  /* justify-content: center; */
  align-items: center;
}

.curriculum h2 {
  font-size: 46px;
  line-height: 56px;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 60px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 80px;
}

.card {
  padding: 50px 40px;
  text-align: center;
  border-radius: 18px;
  justify-content: space-between;
  box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

.card-img {
  margin-bottom: 2rem;
}

.card-h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 2rem;
}

.card-p {
  font-size: 1rem;
  line-height: 28px;
  color: #808080;
  margin-bottom: 2rem;
}

.card1 .card-h5 {
  color: #64c8ff;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  line-height: 28px;
}

.card2 .card-h5 {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  line-height: 28px;
}

.card3 .card-h5 {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  line-height: 28px;
}

.card1 {
  border: 1px solid #def5ff;
  background: linear-gradient(to bottom, #def5ff 0%, #ffffff 40%);
}

.card2 {
  border: 1px solid #fff4dc;
  background: linear-gradient(to bottom, #fff4dc 0%, #ffffff 40%);
}

.card3 {
  border: 1px solid #f2e8ff;
  background: linear-gradient(to bottom, #f2e8ff 0%, #ffffff 40%);
}

.arrow-btn {
  gap: 10px;
  margin-bottom: 60px;
}

.arrow-btn button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  background-color: orange;
  transition: 0.1s color ease;
  transition: 0.1s background-color ease;
  cursor: pointer;
}

.arrow-btn button:hover {
  background-color: black;
}

.arrow-btn button i {
  color: white;
  font-size: 20px;
}

/* Story */

.story {
  text-align: center;
  background: linear-gradient(
    to top,
    rgba(254, 163, 1, 0.4) 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
}

.story h1 {
  font-size: 46px;
  line-height: 57px;
  margin-bottom: 80px;
}

.story-card-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 80px;
}

.sc1 {
  grid-column: span 2;
  grid-row: span 2;
}

.sc22 {
  display: none;
}

.story-img img {
  width: 100%;
  border-radius: 16px 16px 0 0;
}

.story-cards {
  background-color: white;
  border-radius: 16px;
}

.story-text-content {
  position: relative;
  padding: 10px 40px;
  text-align: left;
}

.story-btn {
  font-family: "Raleway", serif;
  position: absolute;
  top: -30px;
  border-radius: 48px;
  border: none;
  color: white;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 28px;
}

.story-h41 {
  font-size: 24px;
  line-height: 38px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 40px;
}

.story-h4 {
  font-size: 15px;
  line-height: 28px;
  font-weight: bold;
  margin-top: 30px;
}

.story-p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  color: #666666;
  margin-bottom: 20px;
}

.sb1 {
  background-color: #3cd8e8;
}

.sb2 {
  background-color: #95b226;
}

.sb3 {
  background-color: #5d58f0;
}

.story-view-btn {
  margin-bottom: 60px;
  padding: 10px 60px;
  background-color: black;
  color: white;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 12px;
  transition: 0.3s color ease;
  transition: 0.3s background-color ease;
  cursor: pointer;
}

.story-view-btn:hover {
  background-color: white;
  color: black;
}

footer {
  background-color: #01acfd;
  color: white;
}
.footer {
  max-width: 1080px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 120px 140px 80px 170px;
}

.footer-logo {
  align-items: center;
  gap: 10px;
  margin-bottom: 35px;
}

.footer-logo h2 {
  font-size: 42px;
  line-height: 38px;
  font-weight: bold;
}

.footer-column-1 {
  max-width: 400px;
}

.footer-column-1 p {
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
}

.footer-column-2 h2,
.footer-column-3 h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 32px;
}

.footer-column-2 ul {
  gap: 20px;
}

.footer-column-2 ul li {
  list-style: none;
}

.footer-column-2 ul li a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.connect {
  gap: 10px;
  text-decoration: none;
}

.hide {
  display: none;
}

@media screen and (max-width: 576px) {
  nav {
    margin: 0 auto;
    border: 1px solid orange;
  }

  .navbar {
    margin: 0 0 20px 0;
  }
  .ul-items,
  .nav-btn,
  .nav-h2 {
    display: none;
  }

  .nav-logo img {
    padding: 12px 0 12px 16px;
    height: 46px;
    width: 46px;
  }

  .hamburger {
    display: block;
    padding: 20px 16px 20px 0px;
    font-size: 24px;
  }

  /* Banner */

  .banner {
    flex-direction: column-reverse;
    padding: 10px 20px 0 20px;
  }
  .banner-text-content {
    width: 350px;
    text-align: center;
  }

  .banner-h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 18px;
    line-height: 1.4;
  }

  .banner-p {
    font-size: 14px;
    margin-bottom: 18px;
    font-weight: 500;
  }

  .btn {
    padding: 10px 24px;
    border-radius: 8px;
    font-size: 16px;
  }

  /* Curriculum */

  .curriculum h2 {
    text-align: center;
    font-size: 26px;
    line-height: 1;
    margin-bottom: 20px;
  }

  .card-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 10px 20px 0 20px;
    gap: 15px;
    margin-bottom: 40px;
  }

  .card {
    padding: 35px 50px;
  }

  .card-h4 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 22px;
  }

  .card-p {
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 22px;
  }

  .arrow-btn {
    display: none;
  }

  /* Story */

  .story-card-container {
    padding: 10px 20px 0 20px;
    gap: 12px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 20px;
  }

  .sc1 {
    display: none;
  }

  .story h1 {
    font-size: 26px;
    line-height: 57px;
    margin-bottom: 20px;
  }

  .story-view-btn {
    margin-bottom: 35px;
    padding: 3px 60px;
    font-size: 16px;
    border-radius: 15px;
  }
  .sc22 {
    display: block;
  }

  .story-btn {
    font-family: "Raleway", serif;
    position: absolute;
    top: -20px;
    border-radius: 28px;
    padding: 6px 12px;
    font-size: 10px;
    line-height: 18px;
  }

  .story-text-content {
    padding: 10px 30px;
    text-align: left;
  }

  .story-h4 {
    font-size: 10px;
    line-height: 17px;
    font-weight: 800;
    margin-top: 10px;
  }

  .footer {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(1, 1fr);
    padding: 65px 20px 20px 20px;
  }

  .footer-logo h2 {
    font-size: 36px;
    line-height: 34px;
    font-weight: bold;
  }

  .footer-column-1 p {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
  }

  .footer-column-2 h2,
  .footer-column-3 h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 32px;
  }

  .footer-column-2 ul li a {
    font-size: 17px;
  }
}
